
body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('gambar/display.png'); 
    background-size: 1280px 720px;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;  
    align-items: center;  
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Latar belakang putih semi transparan */
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px;  
    text-align: center;
    margin: 70px auto;
    justify-content: center;
}

h2 {
    margin-bottom: 20px; 
}

.form-group {
    margin-bottom: 15px;
    text-align: left; 
}

.form-group label {
    display: block;
    margin-bottom: 5px; 
}

.form-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    color: #45a049;
    margin-top: 10px;
}